/* Setting index.html */
#index {
   position: relative;
  background-color: rgb(224, 243, 228);
  background-image: none;    
}

/* Setting background-image for children sites */
body {
    background-image: url(bg/1m.jpg);
    padding: 1vw 2vw 2vw 2vw;    
}

/* Setting header and paragraph for all sites */
.detail, h2 { 
    text-shadow: 0 0 2vw rgb(26, 255, 0);
   font-weight: bolder;
   font-size: 3vw;   
}
h1 {
    font-size: 2.8vw;
}
h3 {
    font-size: 2vw;
}

h1, h2, h3 {
    font-family: 'Leckerli One';    
    padding: .5vw;       
}
p, li {
   font-family: 'Petit Formal Script';
   font-size: 1.5vw;
   font-weight: bold;
   color: rgb(0, 0, 181);
   text-align: justify;
   text-indent: 3vw;
} 
/* Settings Slice in all site */
#sliceCD, #sliceTT {
    width: 80%;
    margin: 1vw auto 1vw auto;
} 
.carousel-caption h3 {
    font-family: 'Petit Formal Script';
    font-size: 2.5vw;
    text-shadow: 0 0 5px black;
    font-weight: bolder;
}
.carousel-caption p {
    font-family: 'Petit Formal Script';
    font-size: 1.1vw;
    text-shadow: 0 0 5px black;
    font-weight:bolder;
    color: aliceblue;
    text-indent: 0;
    text-align: center;
}

/* Settings img for all */
img {
    display: block;
    margin: 1vw auto 1vw auto;
    width: 50%;
    border-radius: 1vw;
}

/* Settings Collapse in touristsDestination.html >> 2. Tinh Bien */
#wildlife .card-header {
    background-color: rgb(210, 246, 210);
    color: black;
    font-family: 'Petit Formal Script';
    font-weight:bolder;
    font-size: 1.5vw;
}
.caption {
  font-size: 1vw;  
}

/* SGV mask Effect in index.html */
 #flashcard, .cuisine {
    position: relative;
    display: flex;
    flex-direction: row;      
    justify-content: space-around;
    flex-wrap: wrap; 
 }
.masktext { 
    position: relative;   
    width: 22%;
    height: 27vw;    
    margin-top: 5px;
  }
.masktext svg, image {
    width: 100%;
    height: 100%;
    margin: 0;
  }
.masktext img {
    position: absolute;
    width: 100%;
    height: 100%;    
    opacity: 1;    
    transition: .5s linear;
    margin: 0;      
  }
.masktext:hover img {
    opacity: 0;
    visibility:hidden;
}
.masktext a {
    text-decoration: none;
}
text {
    font-size: 3.2vw;
    font-family: 'Leckerli One'; 
    font-weight: bold;        
} 

/* Audio Effect in index.html */

.audio { 
    position: absolute;    
    width: 70%;    
    translate: -30% 7%;
    
}
.audio p {           
    font-size: 15px; 
    text-indent: 0;
    width: 100%;    
    color: rgb(2, 2, 2);
    font-weight: bold; 
    text-shadow: 0 0 2px black; 
}
/* About in index.html */
#btnAbout {    
    position: absolute;    
    right: -2px; 
    top: 5px;
    z-index: 1;    
}
/* Cuisine */
.cuiCard{    
    position: relative;   
    width: 32%;       
    margin: 15px 7px;
    height: 32vw;
  }
.cuiCard img {
    width: 100%;
    height: 100%;  
    margin: 0 ;
}
.cuiCard:hover img {
    box-shadow: 0 0 10px rgb(0, 0, 0);
}
/* Reponsible width */
@media (max-width: 420px) {
    #flashcard, .cuisine {
      flex-direction: column;      
      align-items: center;      
    }
    .cuiCard {        
    width: 50% ;
    height: 45vw;
    }
  }
